body{
	margin: 0;
	padding:0;
	overflow-x: hidden;
	background:#FFFFFF;	
	--custom-bg:#9457eb;
	--custom-text:#9457eb;
}

.education_rounder{
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--custom-text);
}

.education_line{
    display: block;
    width: 2px;
    height: 100%;
    background-color: var(--custom-text);
    transform: translate(6px , -7px);
}
.education_content_2{
	/*position: relative;
	top: 80%;*/
}